name: actions
on:
  push:
    branches:
      - m1
#  pull_request:
#    branches:
#      - master
jobs:
  crossbuild:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ${{ github.repository }}
#      - name: Test
#        run: ./test.sh -d "${{ github.repository }}"
#      - name: Push
#        uses: docker/build-push-action@v3
#        with:
#          push: true
#          tags: ${{ github.repository }}
